################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/LaSonda/LaSonda/.vs/LaSonda/FileContentIndex/b0fd7d03-e8f0-4a4d-ae01-85cbe2c6a0ba.vsidx
/LaSonda/LaSonda/.vs/LaSonda/v17/.futdcache.v2
/LaSonda/LaSonda/.vs/LaSonda/v17/.suo
/LaSonda/LaSonda/.vs/ProjectEvaluation/lasonda.metadata.v6.1
/LaSonda/LaSonda/.vs/ProjectEvaluation/lasonda.projects.v6.1
/LaSonda/LaSonda/.vs/LaSonda/v17/.futdcache.v2
/LaSonda/LaSonda/.vs/LaSonda/v17/.suo
/LaSonda/LaSonda/.vs/ProjectEvaluation/lasonda.metadata.v6.1
/LaSonda/LaSonda/.vs/ProjectEvaluation/lasonda.projects.v6.1
/LaSonda/LaSonda/.vs/LaSonda/DesignTimeBuild/.dtbcache.v2
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/refint/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/refint/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/refint/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/refint
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Release/net6.0
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0
/LaSonda/LaSonda/.vs/ProjectEvaluation/lasonda.metadata.v7.bin
/LaSonda/LaSonda/.vs/ProjectEvaluation/lasonda.projects.v7.bin
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Debug/net6.0/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Debug/net6.0/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Debug/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Debug/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.csproj.AssemblyReference.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Api.exe
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Api.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Debug/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/apphost.exe
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.pdb
/LaSonda/LaSonda/LaSonda.Application/bin/Debug/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application/bin/Debug/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Application/bin/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Application/bin/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Domain/bin/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Debug/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Debug/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Debug/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Debug/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Domain/bin/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/ref/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/ref/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/bin/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/ref/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.assets.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.csproj.AssemblyReference.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Api.exe
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Api.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.assets.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/apphost.exe
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/ref/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/PubTmp/Out/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.pdb
/LaSonda/LaSonda/LaSonda.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/ref/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/IntranetSopran.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/IntranetSopran.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Api.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Api.exe
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Api.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Api/bin/Release/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/ref/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.assets.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Application/bin/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Application/bin/Release/net6.0/ref/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application/bin/Release/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application/bin/Release/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Application/bin/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Domain/bin/Release/net6.0/ref/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Domain/bin/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Domain/bin/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/ref/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.assets.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/ref/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.assets.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/ref/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/bin/Release/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.csproj.AssemblyReference.cache
/LaSonda/LaSonda/.vs/LaSonda/FileContentIndex/read.lock
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.assets.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Debug/net6.0/IntranetSopran.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/IntranetSopran.Infrastructure.csproj.nuget.dgspec.json
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/IntranetSopran.Infrastructure.csproj.nuget.g.props
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/project.assets.json
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/project.nuget.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.assets.cache
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Api/obj/Debug/net6.0/LaSonda.Api.genruntimeconfig.cache
/LaSonda/LaSonda/LaSonda.Api/obj/LaSonda.Api.csproj.nuget.dgspec.json
/LaSonda/LaSonda/LaSonda.Api/obj/LaSonda.Api.csproj.nuget.g.props
/LaSonda/LaSonda/LaSonda.Api/obj/project.assets.json
/LaSonda/LaSonda/LaSonda.Api/obj/project.nuget.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.assets.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Application/obj/Debug/net6.0/LaSonda.Application.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Application/obj/LaSonda.Application.csproj.nuget.dgspec.json
/LaSonda/LaSonda/LaSonda.Application/obj/LaSonda.Application.csproj.nuget.g.props
/LaSonda/LaSonda/LaSonda.Application/obj/project.assets.json
/LaSonda/LaSonda/LaSonda.Application/obj/project.nuget.cache
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.assets.cache
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/LaSonda.Application.UnitTests.csproj.nuget.dgspec.json
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/LaSonda.Application.UnitTests.csproj.nuget.g.props
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/project.assets.json
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/project.nuget.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.assets.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Domain/obj/Debug/net6.0/LaSonda.Domain.GeneratedMSBuildEditorConfig.editorconfig
/LaSonda/LaSonda/LaSonda.Domain/obj/LaSonda.Domain.csproj.nuget.dgspec.json
/LaSonda/LaSonda/LaSonda.Domain/obj/LaSonda.Domain.csproj.nuget.g.props
/LaSonda/LaSonda/LaSonda.Domain/obj/project.assets.json
/LaSonda/LaSonda/LaSonda.Domain/obj/project.nuget.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.assets.cache
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/LaSonda.Infrastructure.csproj.nuget.dgspec.json
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/LaSonda.Infrastructure.csproj.nuget.g.props
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/project.assets.json
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/project.nuget.cache
/LaSonda/LaSonda/IntranetSopran.Infrastructure/obj/Release/net6.0/IntranetSopran.Infrastructure.csproj.BuildWithSkipAnalyzers
/LaSonda/LaSonda/LaSonda.Api/obj/Release/net6.0/LaSonda.Api.genruntimeconfig.cache
/LaSonda/LaSonda/LaSonda.Application/obj/Release/net6.0/LaSonda.Application.csproj.BuildWithSkipAnalyzers
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.csproj.AssemblyReference.cache
/LaSonda/LaSonda/LaSonda.Domain/obj/Release/net6.0/LaSonda.Domain.csproj.BuildWithSkipAnalyzers
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Release/net6.0/LaSonda.Infrastructure.csproj.BuildWithSkipAnalyzers
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Application.UnitTests.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Application.UnitTests.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/EmptyFiles/image/empty.pbm
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Release/net6.0/EmptyFiles/document/empty.pdf
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Application.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Application.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Application.UnitTests.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Application.UnitTests.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Domain.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Domain.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Infrastructure.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/LaSonda.Infrastructure.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.csproj.CoreCompileInputs.cache
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.csproj.FileListAbsolute.txt
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.dll
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.genruntimeconfig.cache
/LaSonda/LaSonda/LaSonda.Application.UnitTests/obj/Debug/net6.0/LaSonda.Application.UnitTests.pdb
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/EmptyFiles/image/empty.pbm
/LaSonda/LaSonda/LaSonda.Application.UnitTests/bin/Debug/net6.0/EmptyFiles/document/empty.pdf
/LaSonda/LaSonda/LaSonda.Api/Properties/PublishProfiles/FolderProfile1.pubxml.user
/LaSonda/LaSonda/LaSonda.Api/Properties/PublishProfiles/FolderProfile1.pubxml
/LaSonda/LaSonda/LaSonda.Api/LaSonda.Api.csproj.user
/LaSonda/LaSonda/LaSonda.Infrastructure/obj/Debug/net6.0/LaSonda.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
