.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(16, 37, 21);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#419c72;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
a.active{
  background-color: rgb(85, 105, 84);
  color:rgb(22, 21, 21)
}

a{
  color: black;
}

