<mat-toolbar>
    {{ tittle }}
</mat-toolbar>

    <mat-dialog-content class="mat-typography">
    <!-- <button mat-button class="backbroundButtonGreen" (click)="exporter.exportTable('xlsx')"> excel</button> -->
    <button mat-button class="backbroundButtonGreen" (click)="exportTable()"> excel</button>
    <mat-form-field style="width: 40%;margin-right: 35%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Cerca" #input>
    </mat-form-field>
    <mat-form-field style="width: 15%;text-align: right;">        
        <mat-label>Nro Colonne</mat-label>
        <input #txtNumeroColonna matInput 
            value="20"
            placeholder="Numero Colonne" 
            (keyup) ="getTxtValue(txtNumeroColonna.value)"
        >
    </mat-form-field>
    <div class="mat-elevation-z8" >
        <!-- <table mat-table matTableExporter [dataSource]="dataSource" matSort [ngClass]="classContainerTable" #exporter="matTableExporter"> -->
        <table id="DataProcessMaterialTable" mat-table [dataSource]="dataSource" matSort [ngClass]="classContainerTable">
                <ng-container [matColumnDef]="field" *ngFor ="let field of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ field }}</th>
                    <td mat-cell *matCellDef="let row" > {{row[field]}} </td>
                </ng-container>
            <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Non ci sono righe da filtrare! {{input.value}}</td>
            </tr>
        </table>
        <mat-paginator [length]="listQueryLength"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
s
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>